*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    color: white;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 70, 70);
}
.container{
    margin: 0 auto;
    width: 60%;
    align-content: center;
}
div{
    padding-top: 15px;
}
input[type="text"]{
    width: 70%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    color: black;
}
input[type="number"]{
    width: 70%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    color: black;
}

button{
    width: 45%;
    height: 6vh;
    margin-top: 8px;
    background-color: grey;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.inc{
    display: flex;
}
.inc>div{
    border: 1px solid black;
    padding: 10px 30px;
    background-color: bisque;
}
h4{
    color: rgb(128, 70, 70);
    
}
.history{
    display: flex;
    justify-content: space-between;
}
.history>div{
    color: rgb(128, 70, 70);
}
.list{
    background-color: bisque;
    color: rgb(128, 70, 70);
    padding: 10px;
    padding-top: 0px;
    border-radius: 7px;
    margin-bottom: 5px;
}
li{
    color: rgb(128, 70, 70);
}